# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
frontend/build/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Environment files
.env
.env.*
!.env.example

# Git
.git/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Kubernetes / local
minikube-linux-amd64
helm-rendered.yaml

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
